<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{title}}</h1>
        <p class="card-text">{{user.username}}</p>
        <p class="card-text">{{content}}</p>

    </div>

    <div class="card-footer">
        <p> {{format_date date}} {{format_time date}}</p>
       </div>

</div>

{{>comment-section}}